@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Mooli&family=Mukta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
 
*{
    margin: 0;
    padding:0%;
    font-family: 'ubuntu';
    box-sizing: border-box ;
    }
  body{
    background: #507cf5;
  
  }
  .app{
    background: rgba(255, 255, 255, 0.6);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
  }
  .app h1{
    font-weight: 25;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid white ;
    padding-bottom: 30px;
  }
  .quiz{
    padding : 20px 0;
  }
  .quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
  }
  .btn{
    background-color: white;
    color: #001e4d;
    border: 1px solid #222;
    width: 100%;
    font-weight: 500;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    text-align: left;
    transition: all 0.03s;
    border-radius: 5px;
  }
  .btn:hover:not([disabled]){
    background: #222;
    color: white;
  }
  .btn:disabled{
    cursor: no-drop;
  }
  #next-btn{
    width: 150px;
    color: #fff;
    background: #001e4d;
    font-weight:500;
    border:0;
    cursor: pointer;
    padding: 10px;
    border-radius:4px;
    margin: 20px auto 0;
    display: none;
  
  }
  .correct{
    background: rgb(115, 226, 115);
  }
  .incorrect{
    background: rgb(214, 101, 101);
  }