<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn {{language}}!</title>
    <link rel="stylesheet" href="static/questions.css">
</head>
<body>
    <div class="app">
        <h1>Test Your Knowledge in {{language}}</h1>
        <div class="quiz">
            <h2 id="question">Question is here</h2>
            <div id="answer-buttons">
                <button class="btn">ans1</button>
                <button class="btn">ans2</button>
                <button class="btn">ans3</button>
                <button class="btn">ans4</button>
            </div>
            <button id="next-btn">Next</button>
        </div>
    </div>
    <script>
        const questionsDict = {
            "spanish": [
                {
                    question: "How do you say 'hello' in Spanish?",
                    answers: [
                        {text: "Hola" ,correct: true},
                        {text: "Adios", correct: false},
                        {text: "Jabon", correct: false},
                        {text: "Hamos", correct: false}
                    ]
                },
                {
                    question: "How do you say 'dog' in Spanish?",
                    answers: [
                        {text: "Raton", correct: false},
                        {text: "Carro", correct: false},
                        {text: "Perro", correct: true},
                        {text: "Gato", correct: false}
                    ]
                },
                {
                    question: "How do you say 'Miss' in Spanish?",
                    answers: [
                        {text: "Cabeza", correct: false},
                        {text: "Senor", correct: false},
                        {text: "Senorito", correct: false},
                        {text: "Senorita", correct: true}
                    ]
                },
                {
                    question: "What is the correct phrase for Good Morning?",
                    answers: [
                        {text: "Medio Dia", correct: false},
                        {text: "Buenos Dias", correct: true},
                        {text: "Buenas Tardes", correct: false},
                        {text: "La Noche", correct: false}
                    ]
                },
                {
                    question: "Which one of these is “the man”?",
                    answers: [
                        {text: "El Hombre" ,correct: true},
                        {text: "La nina", correct: false},
                        {text: "El nino", correct: false},
                        {text: "La Mujer  ", correct: false}
                    ]
                }
            ],
            "german": [
                {
                    question: "How do you say “Please”?",
                    answers: [
                        {text: "Bitte", correct: true},
                        {text: "Danke", correct: false},
                        {text: "Tolle", correct: false},
                        {text: "Hamos", correct: false}
                    ]
                },
                {
                    question: "Wie viel kostet das? - Translate this phrase into English",
                    answers: [
                        {text: "How cold is it?", correct: false},
                        {text: "How far is that?", correct: false},
                        {text: "How much does that cost?", correct: true},
                        {text: "How are you?", correct: false}
                    ]
                },
                {
                    question: "How do you say 'Rain' in German?",
                    answers: [
                        {text: "Regnerisch ", correct: false},
                        {text: "Nahrung", correct: false},
                        {text: "Landabschnitt", correct: false},
                        {text: "Wasser", correct: true}
                    ]
                },
                {
                    question: "How do you say “Vegetable” in German?",
                    answers: [
                        {text: "Das Gemüse", correct: false},
                        {text: "Der Gemüse", correct: true},
                        {text: "Die Gemüse", correct: false},
                        {text: "Des Gemüse", correct: false}
                    ]
                },
                {
                    question: "How do you say “Black” in German?",
                    answers: [
                        {text: "Schwarz", correct: true},
                        {text: "Schwert", correct: false},
                        {text: "Schwart", correct: false},
                        {text: "Schmidt", correct: false}
                    ]
                }
            ],

            "french": [
                {
                    question: "How do you say “I eat”?",
                    answers: [
                        {text: "Je mange", correct: true},
                        {text: "Je manges", correct: false},
                        {text: "Je manger", correct: false},
                        {text: "Manager", correct: false}
                    ]
                },
                {
                    question: "How do you say “he visits” in French?",
                    answers: [
                        {text: "Ell visite", correct: false},
                        {text: "Ils visitent", correct: false},
                        {text: "Il visite", correct: true},
                        {text: "Je visite", correct: false}
                    ]
                },
                {
                    question: "How do you say 'Good Morning' in French?",
                    answers: [
                        {text: "Bonsoir " ,correct: false},
                        {text: "Bon après-midi", correct: false},
                        {text: "Bonjoir", correct: false},
                        {text: "Bonjour", correct: true}
                    ]
                },
                {
                    question: "How do you say “Water” in French?",
                    answers: [
                        {text: "Eau", correct: false},
                        {text: "Eae", correct: true},
                        {text: "Eat", correct: false},
                        {text: "Eaume", correct: false}
                    ]
                },
                {
                    question: "How do you say “White” in French?",
                    answers: [
                        {text: "Blanc" ,correct: true},
                        {text: "Blank", correct: false},
                        {text: "Black", correct: false},
                        {text: "Blase", correct: false}
                    ]
                }
            ],

            "italian": [
                {
                    question: "What is the correct translation for “yellow”?",
                    answers: [
                        {text: "giallo" ,correct: true},
                        {text: "blu", correct: false},
                        {text: "luminoso", correct: false},
                        {text: "marrone scuro", correct: false}
                    ]
                },
                {
                    question: "How do you say “how is it going?” in Italian?",
                    answers: [
                        {text: "Di dove sei?", correct: false},
                        {text: "Espressioni comuni?", correct: false},
                        {text: "Cosi?", correct: false},
                        {text: "Come va?", correct: true}
                    ]
                },
                {
                    question: "How do you say 'Apple' in Iitalian?",
                    answers: [
                        {text: "birra " ,correct: false},
                        {text: "sedano", correct: false},
                        {text: "mais", correct: false},
                        {text: "mela", correct: true}
                    ]
                },
                {
                    question: "How do you say “Windy” in Italian?",
                    answers: [
                        {text: "albero", correct: false},
                        {text: "Ventosa", correct: true},
                        {text: "freddo", correct: false},
                        {text: "fiore", correct: false}
                    ]
                },
                {
                    question: "How do you say “6th” in Italian?",
                    answers: [
                        {text: "otto" ,correct: true},
                        {text: "sesto", correct: false},
                        {text: "quaranta", correct: false},
                        {text: "cinquecento", correct: false}
                    ]
                }
            ],

            "japanese": [
                {
                    question: "How do you say “Good morning.”?",
                    answers: [
                        {text: "Ohayō" ,correct: true},
                        {text: "Ohayō gozaimasu", correct: false},
                        {text: "O-yasumi nasai", correct: false},
                        {text: "nasai", correct: false}
                    ]
                },
                {
                    question: "How do you say “30” in Japanese?",
                    answers: [
                        {text: "kyū", correct: false},
                        {text: "jū-yon", correct: false},
                        {text: "sanjū", correct: true},
                        {text: "nijū-ni", correct: false}
                    ]
                },
                {
                    question: "How do you say 'Hello' in Japanese?",
                    answers: [
                        {text: "Bonsoir " ,correct: false},
                        {text: "nara", correct: false},
                        {text: "sayonara", correct: false},
                        {text: "konnichiwa", correct: true}
                    ]
                },
                {
                    question: "How do you say “Land” in Japanese?",
                    answers: [
                        {text: "tochi", correct: false},
                        {text: "tochiua", correct: true},
                        {text: "tochima", correct: false},
                        {text: "tochika", correct: false}
                    ]
                },
                {
                    question: "How do you say “Grey” in Japanese?",
                    answers: [
                        {text: "haiiro" ,correct: true},
                        {text: "ao", correct: false},
                        {text: "kiiro", correct: false},
                        {text: "shiro", correct: false}
                    ]
                }
            ]
        };
        const questions = questionsDict["{{language}}"];
        const questionElement = document.getElementById("question");
        const answerButtons = document.getElementById("answer-buttons");
        const nextButton = document.getElementById("next-btn");

        let currentQuestionIndex = 0;
        let score = 0;

        function startQuiz(){
            currentQuestionIndex = 0;
            score = 0;
            nextButton.innerHTML = "Next";
            showQuestion();
            }

        function showQuestion(){
            resetState();
            let currentQuestion = questions[currentQuestionIndex];
            let questionNo = currentQuestionIndex + 1;
            questionElement.innerHTML = questionNo + ". " + currentQuestion.
            question;

            currentQuestion.answers.forEach(answer => {
                const button = document.createElement("button");
                button.innerHTML = answer.text;
                button.classList.add("btn");
                answerButtons.appendChild(button);
                if(answer.correct){
                    button.dataset.correct = answer.correct;
                }    
                    button.addEventListener("click", selectAnswer)
            });
            }

        function resetState(){
            nextButton.style.display = "none";
            while(answerButtons.firstChild){
                answerButtons.removeChild(answerButtons.firstChild);
            }

        }
        function selectAnswer(e){
            const selectedBtn  = e.target;
            const isCorrect = selectedBtn.dataset.correct == "true";
            if(isCorrect){
                selectedBtn.classList.add("correct");
                score++;
            }else{
                selectedBtn.classList.add("incorrect");
            }
            Array.from(answerButtons.children).forEach(button => {
                    if(button.dataset.correct === "true"){
                        button.classList.add("correct");
                    }
                    button.disabled = true;    
        });
            nextButton.style.display = "block";
        }
        function showScore(){
            resetState();
            questionElement.innerHTML = 'You scored ${scored} out of ${questions.length}!';
            nextButton.innerHTML = "Play Again";
            nextButton.style.display = "block";
        }

        function handleNextButton(){
            currentQuestionIndex++;
            if(currentQuestionIndex < questions.length){
            showQuestion();
            }else{
                showScore();
            }
        }

        nextButton.addEventListener("click", ()=>{
            if(currentQuestionIndex < questions.length){
                handleNextButton();
            }else{

                startQuiz();
            }
        });
        startQuiz()
    </script>
</body>
</html>