<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac lectus quis orci elementum viverra a id sapien. Etiam dolor metus, mattis id mi id, ornare euismod arcu. Vestibulum non blandit neque. Sed efficitur enim leo, eget sagittis nisl dignissim vitae. Nam ac sem et tellus tincidunt pretium. Nam nec vestibulum sapien. Vivamus lectus ligula, facilisis nec dolor at, tincidunt pulvinar sapien. Praesent et urna sem. Nullam a feugiat velit. Quisque non neque sed justo finibus posuere. Fusce velit nulla, mollis sit amet lectus quis, dignissim gravida massa. Duis et rhoncus orci. Aliquam magna odio, sollicitudin non efficitur ac, fringilla in tortor. Proin luctus, mi in iaculis sagittis, mi leo ornare mi, a posuere augue turpis sit amet lectus.</p>
    <a href="{{url_for('login')}}">Login</a><br>
    <a href="{{url_for('register')}}">Register</a>
</body>
</html>